/* 结构类 */
.card-margin {
  margin: 20px 0;
}
.card-item {
  padding: 20px 10px 15px;
  border: 1px solid #e8e8e8;
}
.radio-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.radio-box .ant-radio-group {
  margin: 10px 20px 10px 0px;
}
.radio-box .string-set {
  margin: 10px 20px 10px 0px;
}
.radio-box .number-set {
  margin: 10px 20px 10px 0px;
}

/* 颜色类 */
.c-faad14 {
  color: #faad14;
}
.c-f5222d {
  color: #f5222d;
}
.bc-d4d4d4 {
  background-color: #d4d4d4;
}
